<app-intro></app-intro>

<h3>Last Action: {{ lastAction }}</h3>

<button
  kendoButton
  *ngIf="!windowOpen"
  (click)="windowOpen = true; lastAction = 'Open'"
  primary="true"
>
  Open Window-Dialog
</button>

<app-window-dialog
  #windowDialog
  *ngIf="windowOpen"
  width="500"
  minHeight="210"
  title="Kendo Window-Dialog"
  (close)="close()"
>
  <angular-image-viewer [src]="images"></angular-image-viewer>

  <kendo-dialog-actions>
    <button kendoButton (click)="no()">No</button>
    <button kendoButton (click)="yes()" primary="true">Yes</button>
  </kendo-dialog-actions>
</app-window-dialog>

<a class="schule" target="_blank" href="https://angular.schule"
  >with ♡ from Angular Schule</a
>
